<form name="form" novalidate crud-edit="user" role="form">
    <legend>User</legend>
    <div class="col-md-3">
        <gravatar email="user.email" size="200" class="img-polaroid pull-right"></gravatar>
    </div>
    <div class="col-md-9">
        <div class="form-group">
            <label for="email">E-mail: {{user.email}}</label>
        </div>
        <div class="form-group">
            <label for="lastName">Last name</label>
            <input class="span6 form-control" type="text" id="lastName" name="lastName" ng-model="user.lastName" required>
            <span ng-show="showError('lastName', 'required')" class="help-inline">This field is required.</span>
        </div>
        <div class="form-group">
            <label for="firstName">First name</label>
            <input class="span6 form-control" type="text" id="firstName" name="firstName" ng-model="user.firstName" required>
            <span ng-show="showError('firstName', 'required')" class="help-inline">This field is required.</span>
        </div>
        <div class="form-group">
            <label for="status">Status</label>
            <select class="form-control" id="status" name="status" ng-model="user.status" required>
                <option value="consultant">Consultant</option>
                <option value="human-resource">Ressource humaine</option>
                <option value="leader">Dirigeant</option>
            </select>
        </div>
        <hr>
        <crud-buttons></crud-buttons>
    </div>
</form>
