<table class="table table-bordered table-condensed table-striped table-hover">
    <thead>
    <tr>
        <th class="span3">Name</th>
        <th class="span5">Description</th>
        <th class="span2">My Role(s)</th>
        <th class="span2">Tools</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="post in posts">
        <td ng-click="manageBacklog(post)">{{post.name}}</td>
        <td ng-click="manageBacklog(post)">{{post.desc}}</td>
        <td>{{ getMyRoles(post) }}</td>
        <td>
            <a ng-click="manageBacklog(post)">Product backlog</a>
            <a ng-click="manageSprints(post)">Sprints</a>
        </td>
    </tr>
    </tbody>
</table>
