<h1>Post your ideas</h1>
<div class="media comment">
    <a class="pull-left" href="#">
        <gravatar email="user.email" size="30" class="img-polaroid pull-right"></gravatar>
    </a>
    <div class="media-body">
        <form ng-submit="addPost()">
            <textarea class="form-control comment-area" rows="1" name="text" ng-model="text"></textarea>
            <input type="submit" class="btn btn-primary" value="Poster">
        </form>
    </div>
</div>
<hr>
<h1>Lasts posts</h1>
<div class="posts">
    <div class="media post" ng-repeat="post in posts">
        <a class="pull-left" href="#">
            <gravatar email="post.creator.email" size="30" class="img-polaroid pull-right"></gravatar>
        </a>
        <div class="media-body">
            {{post.text}}
            <div>
                <button type="button" class="btn btn-link" ng-show="!userInArray(post.likes)" ng-click="like(post)">Like <span class="badge">{{post.likes.length}}</span></button>
                <button type="button" class="btn btn-link" ng-show="userInArray(post.likes)" ng-click="unlike(post)">Unlike <span class="badge">{{post.likes.length}}</span></button>
                <button type="button" class="btn btn-link" ng-click="focusPostCommentArea($event)">Comment</button>
                <button type="button" class="btn btn-danger btn-xs" ng-show="canRemovePost(post)" ng-click="removePost(post)">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
            <div class="media comment" ng-repeat="comment in post.comments">
                <a class="pull-left" href="#">
                    <gravatar email="comment.creator.email" size="30" class="img-polaroid pull-right"></gravatar>
                </a>
                <div class="media-body">
                    {{comment.message}}
                    <div>
                        <button type="button" class="btn btn-link" ng-show="!userInArray(comment.likes)" ng-click="likeComment(post, comment)">Like <span class="badge">{{comment.likes.length}}</span></button>
                        <button type="button" class="btn btn-link" ng-show="userInArray(comment.likes)" ng-click="unlikeComment(post, comment)">Unlike <span class="badge">{{comment.likes.length}}</span></button>
                        <button type="button" class="btn btn-danger btn-xs" ng-show="canRemoveComment(comment)" ng-click="removeComment(post, comment)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="media comment">
                <a class="pull-left" href="#">
                    <gravatar email="user.email" size="30" class="img-polaroid pull-right"></gravatar>
                </a>
                <div class="media-body">
                    <form ng-submit="comment(post)">
                        <input class="form-control" type="text" name="message" ng-model="message">
                        <input type="submit" class="btn btn-primary" value="Commenter">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
