<h1>Post your ideas</h1>
<div class="media comment">
    <a class="pull-left" href="#">
        <gravatar email="user.email" size="30" class="img-polaroid pull-right"></gravatar>
    </a>
    <div class="media-body">
        <form ng-submit="addPost()">
            <textarea ck-editor class="form-control comment-area" rows="1" name="text" ng-model="text"></textarea>
            <input type="submit" class="btn btn-primary" value="Poster">
        </form>
    </div>
</div>
<hr>
<h1>Lasts posts</h1>
<div class="posts">
    <post class="media post" post="post" ng-repeat="post in posts"></post>
</div>