<div class="media post">
    <a class="pull-left" href="#">
        <gravatar email="post.creator.email" size="30" class="img-polaroid pull-right"></gravatar>
    </a>
    <div class="media-body">
        <div ng-bind-html="post.text"></div>
        <div>
            <span class="badge ng-binding">{{post.likes.length}} <span class="glyphicon glyphicon-thumbs-up"></span></span>
            <button type="button" class="btn btn-link" ng-show="!userInArray(post.likes)" ng-click="like(post)">Like</button>
            <button type="button" class="btn btn-link" ng-show="userInArray(post.likes)" ng-click="unlike(post)">Unlike</button>
            <button type="button" class="btn btn-link" ng-click="focusPostCommentArea($event)">Comment</button>
            <button type="button" class="btn btn-default btn-xs" ng-show="ownPost(post)" ng-click="editPost(post)">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
            <button type="button" class="btn btn-danger btn-xs post-remove" ng-show="ownPost(post)" ng-click="removePost(post)">
                Supprimer le post
            </button>
        </div>
        <comment class="media comment" comment="comment" post="post" ng-repeat="comment in post.comments" on-comment-remove="removeComment(post, comment)"></comment>
        <div class="media comment">
            <a class="pull-left" href="#">
                <gravatar email="user.email" size="30" class="img-polaroid pull-right"></gravatar>
            </a>
            <div class="media-body">
                <form ng-submit="comment(post)">
                    <input class="form-control" type="text" name="message" ng-model="message">
                    <input type="submit" class="btn btn-primary" value="Commenter">
                </form>
            </div>
        </div>
    </div>
</div>