<p>Le mot de passe de ton compte a été réinitialisé. Si tu n'es pas l'auteur de cette action, tu peux réinitialiser ton mot de passe en inscrivant ton email <%= email %> dans le formulaire de cette url <a href="<%= url %>"><%= url %><a>.</p>
