<div class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="HeaderCtrl">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="http://eleven-labs.com/ui/img/eleven-labs_logo-rocket-nav.png" class="logo-rocket" alt="">
                <img src="http://eleven-labs.com/ui/img/eleven-labs_logo-nav.png" class="logo-img" alt="Eleven Labs">
                Workbook
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{active:isNavbarActive('posts')}"><a href="#">Home</a></li>
                <li ng-class="{active:isNavbarActive('posts')}"><a href="/posts">Posts</a></li>
                <li ng-class="{active:isNavbarActive('consultants-list')}"><a href="/consultants-list">Consultants list</a></li>
                <li ng-class="{active:isNavbarActive('consultants-mapping')}"><a href="/consultants-mapping">Consultants mapping</a></li>
                <li ng-class="{active:isNavbarActive('profile')}"><a href="/profile">My profile</a></li>
                <li class="dropdown" ng-class="{active:isNavbarActive('admin'), open:isAdminOpen}" ng-show="isAdmin()">
                    <a id="adminmenu" href="#" class="dropdown-toggle" data-toggle="dropdown" ng-click="isAdminOpen=!isAdminOpen">Admin <b class="caret"></b></a>
                    <ul class="dropdown-menu" aria-labelledby="adminmenu">
                        <li><a tabindex="-1" href="/admin/users" ng-click="isAdminOpen=false">Manage Users</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav pull-right" ng-show="hasPendingRequests()">
                <li class="divider-vertical"></li>
                <li><a href="#"><img src="/static/img/spinner.gif"></a></li>
            </ul>
            <login-toolbar></login-toolbar>
        </div>
        <div ng-show="hasBreadCrumbs()">
            <ol class="breadcrumb">
                <li ng-repeat="breadcrumb in breadcrumbs.getAll()">
                    <span class="divider">/</span>
                    <ng-switch on="$last">
                        <span ng-switch-when="true">{{breadcrumb.name}}</span>
                        <span ng-switch-default><a href="{{breadcrumb.path}}">{{breadcrumb.name}}</a></span>
                    </ng-switch>
                </li>
            </ol>
        </div>
    </div>
</div>
