<p>Plus qu'une étape avant de pouvoir rejoindre l'équipage d'Eleven-Labs ! Merci de valider ton compte en cliquant <a href="<%= url %>">ici<a> ou copiez et coller cette url dans ton dans navigateur internet: <%= url %></p>
