<form name="form" novalidate class="form-login" role="form">
    <h2 class="form-login-heading">Connection</h2>
    <div class="alert alert-warning" ng-show="authReason">
        {{authReason}}
    </div>
    <div class="alert alert-error" ng-show="authError">
        {{authError}}
    </div>
    <input id="login" type="email" name="email" ng-model="user.email" required autofocus placeholder="Email" class="form-control">
    <input id="password" type="password" name="password" ng-model="user.password" required  placeholder="Mot de passe" class="form-control">
    <label class="checkbox">
        <input type="checkbox" value="remember-me">
        Se rappeler de moi
    </label>
    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Se connecter" ng-click="login()" ng-disabled='form.$invalid'>
    <hr>
    <a href="/request/reset/password" class="pull-right">Mot de passe oublié</a>
</form>
