<table class="table table-bordered table-condensed table-striped table-hover">
    <thead>
    <tr>
        <th class="span3">Name</th>
        <th class="span5">Description</th>
        <th class="span2">My Role(s)</th>
        <th class="span2">Tools</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="activity in activities">
        <td ng-click="manageBacklog(activity)">{{activity.name}}</td>
        <td ng-click="manageBacklog(activity)">{{activity.desc}}</td>
        <td>{{ getMyRoles(activity) }}</td>
        <td>
            <a ng-click="manageBacklog(activity)">Product backlog</a>
            <a ng-click="manageSprints(activity)">Sprints</a>
        </td>
    </tr>
    </tbody>
</table>
